{% extends "layout/index.html" %}
{% block body %}
<div class="jumbotron">

<h2>WIFI CONFIGURATION</h2>
<form name="connectwifi" id="connectwifi" class="form-horizontal" role="form" method="POST" action="{{ url_for('wifi.connect') }}">
<p class="lead">
  <p> Protect your privacy and security online!</p>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% else %}
        {% if message %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}
    {% endif %}
    <div style="margin-bottom: 25px" class="input-group input-group-lg">
      <span class="input-group-addon"><i class="glyphicon glyphicon-signal"></i></span>
        <select class="form-control" id="sel1" name="ssid">
            {% for network in networks["ssid"] %}
            <option value="{{ network }}">{{ network }}</option>
            {% endfor%}
        </select>
    </div>
    <div style="margin-bottom: 25px" class="input-group input-group-lg">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
</p>
<p>
    <button {% if error %}disabled{% endif %} type="button" id="btnScanning" class="btn btn-lg btn-info" aria-label="Left Align" >Scan</button>
    <button {% if error %}disabled{% endif %} type="submit" class="btn btn-lg btn-success" aria-label="Right Align" >Connect to WIFI</button>

</p>
</form>
<script src="{{ url_for('static', filename='assets/js/wifi.js') }}"></script>
</div>
{% endblock %}