{% extends "layout/index.html" %}
{% block script%}
<script src="{{ url_for('static', filename='assets/app/js/vue.min.js') }}"></script>
<script>
    new Vue({
        el: '#wifi-connect',
        data: {
            scanning: false,
            error: {{ error | tojson }},
            message: "{{ message | safe }}",
            networks: []
        },
        computed: {
            notAvailable: function () {
                return this.scanning || this.error;
            }
        },
        methods: {
            scan: function () {
                var self = this;
                if (this.notAvailable) {
                    return;
                }
                this.scanning = true;
                $.get(window.URL_WIFI_SCAN, function (data) {
                    self.error = data.error;
                    self.message = data.message;
                    self.networks = data.ssid;
                    self.scanning = false;
                    if (self.error) {
                        return;
                    }
                }, 'json')
            }
        },
        ready: function () {
            this.scan()
        }
    })
</script>
{% endblock %}
{% block body %}
<div class="jumbotron" id="wifi-connect">
    <h2>Network Connection</h2>
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('wifi.connect') }}">
    {% raw %}
        <p class="lead"> You must first connect to a wifi network</p>
        <div class="alert alert-info" role="alert" v-show="scanning">Scanning</div>
        <div v-cloak>
            <div class="alert alert-danger" role="alert" v-if="error">{{ message }}</div>
            <div class="alert alert-success" role="alert" v-if="!error && message">{{ message }}</div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="ssid">SSID</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-signal"></i></span>
                        <select class="form-control" name="ssid" id="ssid" :disabled="notAvailable ? 'disabled' : null">
                            <option v-for="network in networks" v-bind:value="network">
                            {{ network }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="password">Password</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" id="password" :disabled="notAvailable ? 'disabled' : null" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" :disabled="notAvailable ? 'disabled' : null" class="btn btn-lg btn-success">Connect</button>
                <button type="button" :disabled="notAvailable ? 'disabled' : null" class="btn btn-lg btn-info"
                @click.prevent="scan"
                v-text="scanning ? 'Scanning' : 'Refresh'"
                ></button>
            </div>
        </div>
    {% endraw %}
    </form>
</div>
{% endblock %}